<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../links/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="index">
    <a href="../index.html"><img src="../media/plungepoollogo-1024x1024.png" width="200"></a>
    <p><i>navigate:</i><br>
      <a href="../home.html">home</a><br>
      <a href="about.html">about</a><br>
      <a href="index.html">index</a><br>
      <a href="https://plungepool.dev/memex/index.html">corkboard</a><br>
    <p><i>stuff I've been into:</i><br>
      <a href="">recently</a><br>
      <a href="">for a while</a><br>
      <a href="">a long time</a><br></p>
    </div>
    <div class="content">
      <!--CONTENT-->
    </div>
  </body>
  <footer>
    <a href="https://webring.xxiivv.com/#your-id-here" target="_blank" rel="noopener">
    <img src="https://webring.xxiivv.com/icon.black.svg" alt="XXIIVV webring" width="75" height="75"/>
    </a>
  </footer>
</html>