#myFakeElement { color:red ; }

body { 
	max-width: calc(100% - 200px);
    margin: auto !important;
    border: 35px none #00FF00;
/*    border: 35px dashed #00FF00;*/
  
}

pre { 
	word-wrap:break-word;
	white-space: pre-wrap;
}

.index {
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
/*    margin: 0 auto;*/
/*    text-align: center;*/
    font-family: Arial, Helvetica, sans-serif;
}

img {
  margin: auto;
  display: block;
}

/*img { max-width:100%; height: auto;}*/

/*div, iframe {
/*    width: 75%;*/
/*    height: auto;*/
/*    margin: 0 auto;
    background-color: #777;
}

iframe {
    display: block;
    border-style:none;
}*/